<h1>Questions</h1>

<p> Add questions to any survey:</p>

<form action="/questions" method="post">
  <label for="survey_id">Select a Survey</label>
  <select id='survey_id' name='survey_id' type='text'>
    <% @surveys.each() do |survey| %>
      <option value="<%= survey.id()%>"> <%= survey.title() %> </option>
    <% end %>
  </select>

  <label for="question">Enter a question:</label>
  <input id="question" name="question" type="text">

  <button type="submit">Add question</button>
</form>



<ul>
  <% @questions.each do |question| %>
  <li><a href="/question/<%= question.id %>"><%= question.question %></a></li>
  <% end %>
</ul>
